<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick Réservation date</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/rooms-list.css">
    <!-- Boostrap -->

    <!-- Boostrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Boostrap Icons -->

    <!-- Template Styles -->
    <link rel="stylesheet" href="styles/pick-reservation-date.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.css">
    <!-- Template Styles -->
</head>
<body>
    
    <style>
        .hide {
           display: none;
        }
     </style>

    <form action="/rooms" id="userPickDateForm" method="POST">
        <div class="p-5">
            <div class="container">
                <div class="box mb-3">
                    <h3>Choisi la date d'arrivée</h3>
                    <input type="text" id="arrivalDateInput" class="datepicker-here form-control minMaxExample" name="arrivalDate" data-date-format="dd/mm/yyyy" data-language='en' placeholder="Choisi la date d'arrivée">
                    <div
                    id="arrivalDateError"
                    class="text-center hide text-danger form-text fw-medium"
                  ></div>
                </div>
                <div class="box my-3">
                    <h3>Choisi la date de départ</h3>
                    <input type="text" id="departureDateInput" class="datepicker-here form-control minMaxExample" name="departureDate" data-date-format="dd/mm/yyyy" data-language='en' placeholder="Choisi la date départ">
                    <div
                    id="departureDateError"
                    class="text-center hide text-danger form-text fw-medium"
                  ></div>
                </div>
                <div class="row w-100">
                    <div style="display: flex; justify-content:center" >
                        <button type="submit" class=" btn btn-dark fs-5 btn-follow">Choisi l'hôtel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    
    
    <!--Libraries  -->
    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.en.min.js" ></script>
    <!-- Boostrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="js/validate-date-picker.js"></script>
</body>
</html>