
/* Fonts */
 
/* Hotel Name */
.hanuman-thin {
    font-family: "Hanuman", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .hanuman-light {
    font-family: "Hanuman", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .hanuman-regular {
    font-family: "Hanuman", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .hanuman-bold {
    font-family: "Hanuman", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .hanuman-black {
    font-family: "Hanuman", serif;
    font-weight: 900;
    font-style: normal;
  }

/* END: Hotel Name */

/* Price */

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 800 */
.martian-mono {
    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

/* END: PRICE*/


/* Location and type */

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 700 */

.kantumruy-pro {
  font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* END: Location and type */

.hotel-name {
    font-size: 1.7em;
    font-family: "Hanuman", serif;
    font-weight: 700;
    color: #6f1eff;
    font-style: normal;
    text-decoration: none;
}

/* Hotel name link hover effect */

a.hotel-name {
    color: inherit;
    color: #6f1eff;
    text-decoration: none;
  }
  
  a.hotel-name {
    background:
      linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
  a.hotel-name:hover {
    background-size: 0 3px, 100% 3px;
  }

/* END: Hotel name link hover effect */


.location-type {
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.price {
    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}